# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# NestJS / TypeScript
dist/
*.tsbuildinfo

# Nuxt / Vue
.nuxt/
.output/
.nitro/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
**/.idea/
**/android/.gradle
**/android/local.properties
**/android/**/build
**/ios/**/Pods

# Environment variables
.env
.env.example
.env.local
.env.*.local
*.env

# Logs
logs
*.log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# UI & Design Reference Files
stitch_the_seafu_landing_platform(UI)/
stitch_the_seafu_landing_platform*
